<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>CoreAudio Opus Decoder Component 0.1.7, Copyright © 2015-2016 C.W. &quot;Madd the Sane&quot; Betts</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>thng</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>acdc</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>CoreAudio Opus Decoder Component 0.1.7, Copyright © 2015-2016 C.W. &quot;Madd the Sane&quot; Betts</string>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>An AudioCodec that decodes Xiph Opus into linear PCM data</string>
			<key>factoryFunction</key>
			<string>CAOpusDecoderFactory</string>
			<key>manufacturer</key>
			<string>Xiph</string>
			<key>name</key>
			<string>Xiph Opus Decoder</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>XiVo</string>
			<key>type</key>
			<string>adec</string>
			<key>version</key>
			<integer>265</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>An AudioCodec that encodes linear PCM data into Xiph Opus</string>
			<key>factoryFunction</key>
			<string>CAOpusEncoderFactory</string>
			<key>manufacturer</key>
			<string>Xiph</string>
			<key>name</key>
			<string>Xiph Opus Encoder</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>XiVo</string>
			<key>type</key>
			<string>aenc</string>
			<key>version</key>
			<integer>257</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>An AudioCodec that decodes Xiph (Ogg-framed) Opus into linear PCM data</string>
			<key>factoryFunction</key>
			<string>CAOggOpusDecoderFactory</string>
			<key>manufacturer</key>
			<string>Xiph</string>
			<key>name</key>
			<string>Xiph (Ogg-framed) Opus</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>XoVo</string>
			<key>type</key>
			<string>adec</string>
			<key>version</key>
			<integer>265</integer>
		</dict>
	</array>
</dict>
</plist>
